.bar{
  background-color: white;
  max-width: 500px;
  height: 610px;
  border: 1px solid rgb(183, 183, 183);
  box-shadow: 1px 1px 5px rgb(183, 183, 183);
  padding: 20px;
  border-radius: 15px;
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header-orange-drop-down {
  // background-color: #28a745;
  // background: radial-gradient(circle, #ff7e5f, #feb47b);
  background: linear-gradient(to right, #e67e22, #feb47b);

  a {
    font-weight: bold;
    color: white;
  }
}

.body-white-drop-down{
  background-color: #ffffff;
}

.boton-verde{
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(183, 183, 183);
  border: 1px solid #28a745;

  &:hover{
    background-color: #1edd88;
  }

}


.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
