.container {
  max-width: 900px;  // Aumentamos el ancho máximo del contenedor
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.card-header {
  background-color: #30985A;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  font-size: 1.5rem;
}

.card-body {
  font-size: 1rem;
  line-height: 1.8;
  padding: 20px;
}

ol {
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1rem;
  padding-left: 20px;
}

ol li {
  margin-bottom: 15px; // Añadir espacio entre los elementos de la lista
}

p, li {
  margin-bottom: 15px; // Espacio entre los párrafos y los elementos de la lista
}

h4 {
  margin-bottom: 20px; // Añadir un margen inferior al título de las cláusulas
  font-weight: bold;
}

.btn-accept {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 20px;
  color: #f9f9f9;
  background-color: #30985A;

  &:hover {
    background-color: #287d48;
    color: #fff;
    transition: background-color 0.3s ease;
  }
}

.btn-reject {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(157, 154, 156);

  &:hover {
    background-color: #5e5e5e;
    transition: background-color 0.3s ease;
  }
}

.lead {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 30px;
}
