<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

Tu servicio

Resumen

Comida:
Descripcion:
Fecha:
Cantidad de personas:

Informacion del precio:
Precio base:
Cantidad de personas:
Tarifa por servicio ChefDelivery:
Total:
